@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;200&display=swap");

:root {
  --primary-color: #e91e63;
  --off-white: #e2e8f0;
  --dark-gray: #6b7280;
}
**/ body {
  font-family: "Antonio", sans-serif;
}

/**Navigation*/
.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
  font-weight: bold;
}

.navigation .nav-pills {
  text-align: right;
  /* padding: 1rem 0rem; */
}

.navigation .link {
  color: white;
}

/** To make the selected active tab look highlighted**/
.navigation .link-active {
  font-weight: bold;
  color: var(--secondary-color);
}
.navigation li {
  display: inline-block;

  /* padding: 0rem 0.8rem; */
}