@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;200&display=swap");


:root {
  --primary-blue: #3ACCE8;
  --background-dark: #4b5769;
  --background-light: #498592;
  --off-white: #e2e8f0;
  --dark-gray: #6b7280;
  /* background-color:var(--background-dark); */
}
html{
  background-color: var(--background-dark);
}
**/ body {
  font-family: "Antonio";
}

/**Navigation*/
.navigation {
  background-color: var(--background-dark);
  color: var(--primary-blue);
  padding: 1rem;
  border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
  font-weight: bold;
}

.navigation .nav-pills {
  text-align: right;
  padding: 2rem 0rem;
}

.navigation .link {
  color: var(--primary-blue);
}

/** To make the selected active tab look highlighted**/
.navigation .link-active {
  font-weight: bold;
  color: var(--secondary-color);
}
.navigation li {
  display: inline-block;

  /* padding: 0rem 0.8rem; */
}
/**header**/
.hero {
  padding: 2rem;
  padding-top: 5rem;
}
.hero .hero-img {
  max-width: 350px;
  display: block;
  margin: auto;
}
.hero .hero-heading {
  font-size: 2rem;
  padding-top: 1rem;
  text-align: center;
}
hr {
  margin: 2rem 0rem;
}


.section {
  padding: 2rem;
}

.section h1 {
  text-align: center;
}

.ow {
  background-color: var(--background-light);
}
.ob{
  background-color: var(--background-light);
}
/**container**/
.container {
  padding: 0rem 1rem;
}
.container-center {
  max-width: 600px;
  margin: auto;
}

/**link**/

.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.primary-link {
  background-color: var(--background-light);
  border-radius: 0.5rem;
  color: white;
}

.secondary-link {
  color: var(--primary-blue);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
}

.list-none-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}
.footer {
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  border: top right radius 1rem;
}

.footer .link {
  color: white;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}
.para {
  text-align: center;
}



* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  padding: 16px;
  text-align: center;
  color:var(--primary-blue);
  margin: auto;
  height: 400px;
  border-style: ridge;
  margin: 10px;
  
}
.card:hover {
  box-shadow: 0 4px 8px 0 white;
}
.column-blog {   
  float:none;
  width: 45%;
  text-align: center;
  margin-left: 28.33%;
  height: 200px;

}



  

